.hero {
  height: calc(100vh - 0px);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-content-overlay {
  background-color: #00000066;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-content {
  padding-top: 150px;
  padding-left: 5vw;
}

.hero h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  font-family: cursive;
}

.check-it {
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  z-index: 1;
  border: 2px solid #fff;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 170px;
  margin-top: 30px;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: 600;
  transition: color 0.4s, border-color 0.4s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.check-it::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1c40f;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.check-it:hover::before {
  transform: translateX(0);
}

.check-it:hover {
  color: #000;
  border-color: #f1c40f;
}

.button-icon-wrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.4s ease-out;
}

.check-it:hover .button-icon-wrapper {
  transform: translateX(5px);
}
.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #fff;
  transform: skewY(1.5deg) translateY(60px);
  transform-origin: 0 100%;
  z-index: 5;
}

.next-section {
  margin-top: -60px;
  background-color: #fff;
  height: 500px;
  padding-top: 50px;
  position: relative;
  z-index: 6;
  color: #333;
  text-align: center;
}

/* Media quries start from here */
@media (max-width: 992px) {
  .hero h1 {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 45px;
  }

  .hero:after {
    height: 150px;
    transform: skewY(2.5deg) translateY(60px);
  }
}

@media (max-width: 600px) {
  .hero-content-overlay {
    justify-content: center;
    align-items: center;
  }

  .hero h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
  }

  .hero-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
